@inherits UmbracoViewPage<Product>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
<!-- for the section we want to show the shop header -->
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", Model.Parent)

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image-container">
                    <img class="product-image" src="@Model.Photos.Url" alt="@Model.ProductName image" />
                </div>
            </div>
            <div class="col-md-6">
                <h1>@Model.ProductName</h1>
                <div class="product-price">@Model.Parent.GetProperty("DefaultCurrency").Value() @Model.Price.ToString("F")</div>
                <div class="product-teaser">@Model.Description</div>
                <div class="product-button">
                    <button class="button button--border--solid">Buy</button>
                </div>
                <div class="product-advantages">
                    @if (Model.Features != null)
                    {
                        foreach (var feature in Model.Features)
                        {
                            <div class="product-advantage">
                                <h4>@feature.GetProperty("featureName").Value()</h4>
                                <h5>@feature.GetProperty("featureDetails").Value()</h5>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--sand">
    <div class="container">
        <!-- todo: Check if grid is empty via a property value converter -->
        @Html.GetGridHtml(Model, "bodyText", "bootstrap3-fluid")
    </div>
</section>